$colorPrimario : rgb(233, 138, 29); /**variables*/
$colorSecundario : #0a12f2; /**variables*/
$colorSecundarioHover : #2878fa; /**variables*/
$colorBlanco : #fff; /**variables*/
$tamañoTitulo : 32px;
$parrafo: 20px;
$btn:(
    padding: 5px,
    border: 4px,
    radio: 5px,
    background-color: rgb(62, 56, 56),
);